[submodule "packages/evolution"]
	path = packages/evolution
	url = https://github.com/arkenrealms/evolution.git
	branch = main
[submodule "packages/node"]
	path = packages/node
	url = https://github.com/arkenrealms/node.git
[submodule "packages/seer"]
	path = packages/seer
	url = https://github.com/arkenrealms/seer.git
[submodule "packages/forge"]
	path = packages/forge
	url = https://github.com/arkenrealms/forge.git
	branch = main
[submodule "packages/sigil-protocol"]
	path = packages/sigil-protocol
	url = https://github.com/arkenrealms/sigil-protocol.git
	branch = main
[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/arkenrealms/cli.git
	branch = main
