[submodule "packages/evolution"]
	path = packages/evolution
	url = git@github.com:arken-engineering/evolution.git
	branch = main
[submodule "packages/node"]
	path = packages/node
	url = git@github.com:arken-engineering/node.git
